<ion-header>
	<easyah-header-component></easyah-header-component>
	<br/>
	<ion-row >
		<div class="centered recommendationsHeaderRow">
			<h1 class="centered">Your Recommendations<br/></h1>
		</div>
	</ion-row>
</ion-header>

<ion-content class="ion-padding">
	<ion-item *ngIf="!areIncomingRecommendationsAvailable()">
		<table>
			<tr>
				<img class="centered" src="assets/img/no-recommendations.jpg">
			</tr>
			<tr>
				<span class="centered"><br/>You don't have any active recommendations.. yet!</span>
			</tr>
		</table>
	</ion-item>

	<ion-list>
		<ion-item *ngFor="let item of getAvailableIncomingRecommendations()" (click)="onViewUser(item)">
			
			<div class="avatar-in-a-list-wrapper-div">
				<img [class]="getAvatarCSSClassString(item)" [src]="getDOUserProfileImageFilepath(item['providingUserId'])"/>
			</div>
			<span>
				{{getRealName(item)}}
			</span>
		</ion-item>
	</ion-list>
</ion-content>

<ion-footer *ngIf="areIncomingRecommendationsAvailable()">
	<ion-row>
		<span class="centered">These represent a stamp of approval, or a status, that someone else has given you.</span>
	</ion-row>
</ion-footer>