<ion-header>
	<easyah-header></easyah-header>
	<br/>
	<ion-row >
		<div class="centered recommendationsHeaderRow">
			<h1 class="centered">Your Recommendations<br/></h1>
		</div>
	</ion-row>
</ion-header>

<ion-content padding>
	<ion-item *ngIf="!areIncomingRecommendationsAvailable()">
		<img class="centered" src="assets/img/no-recommendations.jpg">
		<span class="centered"><br/>You don't have any active recommendations.. yet!</span>
	</ion-item>

	<ion-list>
		<ion-item *ngFor="let item of getAvailableIncomingRecommendations()" (click)="onViewUser(item)">
			<img class="circular centerBackgroundPosition backgroundSizeCover" [src]="getDOUserProfileImageFilepath(item['providingUserId'])"/>
			<span>
				{{getRealName(item)}}
			</span>
		</ion-item>
	</ion-list>
</ion-content>