<ion-header>
	<easyah-header-component></easyah-header-component>
	<br/>
	<ion-row >
		<div *ngIf="!isNewObject()" class="centered offerEditHeaderRow">
			<h1 class="centered">Edit Your Offer<br/></h1>
		</div>
		<div *ngIf="isNewObject()" class="centered offerEditHeaderRow">
			<h1 class="centered">Create New Offer<br/></h1>
		</div>
	</ion-row>
</ion-header>

<ion-content class="ion-padding">
	<form [formGroup]="offerEditForm"  (ngSubmit)="onSaveBtnTap(true)">
		<ion-item lines="none">
			<ion-label color="primary" position="stacked">Title: </ion-label>
			<ion-input type="text" placeholder="..a name for this offer..." formControlName="title" (ionChange)="handleTitleChange($event)" [disabled]="!isModelTitleEditable()" [value]="getModelAttr('title')"></ion-input>
	        <span class="text-danger"
	            *ngIf="(offerEditFormControl.title.touched ) && offerEditFormControl.title.errors?.required">
	            Title is required
	        </span>
	        <span class="text-danger"
	            *ngIf="(offerEditFormControl.title.touched ) && offerEditFormControl.title.errors?.minlength">       
	            Title must be at least 3 characters
	        </span>
	        <span class="text-danger"
	            *ngIf="(offerEditFormControl.title.touched ) && offerEditFormControl.title.errors?.pattern">       
	            Title must be only letters and numbers
	        </span>
		</ion-item>
		<ion-item lines="none">
			<ion-label color="primary" position="stacked">Quantity: (how many are you offering?) </ion-label>
			<ion-input id="offerQuantity" type="tel" formControlName="quantity" (ionChange)="handleQuantityChange($event)" [disabled]="!isModelQuantityEditable()" [value]="getModelAttr('quantity')"></ion-input>
	        <span class="text-danger"
	            *ngIf="(offerEditFormControl.quantity.touched ) && offerEditFormControl.quantity.errors?.required">
	            Quantity is required
	        </span>
	        <span class="text-danger"
	            *ngIf="(offerEditFormControl.quantity.touched ) && offerEditFormControl.quantity.errors?.maxlength"> 
	            Quantity must have no more than 5 digits 
	        </span>
	        <span class="text-danger"
	            *ngIf="(offerEditFormControl.quantity.touched ) && offerEditFormControl.quantity.errors?.pattern"> 
	            Use only the numbers 0 - 9 
	        </span>
		</ion-item>
		<ion-item lines="none">
			<ion-label color="primary" position="stacked">Units: (what are you offering?)</ion-label>
			<ion-input id="offerQuantityDesc" type="text" formControlName="units" maxlength="50" placeholder="hours, cupcakes, lessons, etc." (ionChange)="handleQuantityDescriptionChange($event)" [disabled]="!isModelQuantityDescEditable()" [value]="getModelAttr('quantityDescription')"></ion-input>
	        <span class="text-danger"
	            *ngIf="(offerEditFormControl.units.touched ) && offerEditFormControl.units.errors?.required">
	            Units is required
	        </span>
	        <span class="text-danger"
	            *ngIf="(offerEditFormControl.units.touched ) && offerEditFormControl.units.errors?.minlength">       
	            Units must be at least 2 characters
	        </span>
	        <span class="text-danger"
	            *ngIf="(offerEditFormControl.units.touched ) && offerEditFormControl.units.errors?.pattern">       
	            Units can only contain letters and numbers
	        </span>
		</ion-item>
		<ion-item lines="none">
			<ion-label color="primary" position="stacked">Description: </ion-label>
			<ion-textarea rows="5" formControlName="description" placeholder="I have many moons experience in XYZ and I will teach..." (ionChange)="handleDescriptionChange($event)" [disabled]="!isModelDescriptionEditable()" [value]="getModelAttr('description')" ></ion-textarea>
	        <span class="text-danger"
	            *ngIf="(offerEditFormControl.description.touched ) && offerEditFormControl.description.errors?.required">
	            Description is required
	        </span>
	        <span class="text-danger"
	            *ngIf="(offerEditFormControl.description.touched ) && offerEditFormControl.description.errors?.minlength">       
	            Description must be at least 3 characters
	        </span>
	        <span class="text-danger"
	            *ngIf="(offerEditFormControl.description.touched ) && offerEditFormControl.description.errors?.pattern">       
	            Description can only contain letters and numbers
	        </span>
		</ion-item>
	</form>

	<ion-card [ngStyle]="{'width':'100%'}">
		<ion-card-header>
			<div class="pointsSectionDescription">
				<h4>Rules</h4>
			</div>
		</ion-card-header>
		<ion-card-content>
			<ion-button (click)="onNewRuleBtnTap($event)" [ngStyle]="{'width':'100%'}">
				RULES
			</ion-button>
			<br/>
			<span *ngIf="getRequiredPointsQuantity() === 0">
				Rules describe who can request this offer from you. Set some points!
			</span>
			<span *ngIf="getRequiredPointsQuantity() > 0">
				<i>This offer will require {{getRequiredPointsQuantityString()}}</i>
				<span *ngIf="areRecommendationsRequired()">
					<i> and the following recommendations: </i><br/>
					<span class="blockItem" *ngFor="let rec of getRequiredUserRecommendations()">
						{{rec.userObj.realname}}<br/>
					</span>
				</span>
			</span>
		</ion-card-content>
	</ion-card>
	<ion-card [ngStyle]="{'width':'100%'}">
		<ion-card-header>
			<div class="pointsSectionDescription">
				<h4>Keywords</h4>
			</div>
		</ion-card-header>
		<ion-card-content>
			<ion-button (click)="onAddKeywordBtnTap($event)" [ngStyle]="{'width':'100%'}">
				KEYWORDS
			</ion-button>
			<br/>
			<span *ngIf="offerHasNoKeywords()">
				Keywords are descriptive words and phrases. Add some that describe this Offer!
			</span>
			<span *ngFor="let item of getKeywords()">
				<span class="blockItem" (press)="onIndividualKeywordPress()">{{item.text}}</span>
			</span>

		</ion-card-content>
	</ion-card>
	<ion-card [ngStyle]="{'width':'100%'}">
		<ion-card-header>
			<div class="pointsSectionDescription">
				<h4>Image (optional)</h4>
			</div>
		</ion-card-header>
		<ion-card-content>
			<ion-button (click)="onAssociatedImageClick($event)" [ngStyle]="{'width':'100%'}">
				IMAGE
			</ion-button>
			<div *ngIf="offerHasAnAssociatedImage()" class="centered avatar">
				<img [class]="getAssociatedImageCSS()" [src]="getAssociatedImage()" (click)="onAssociatedImageClick($event)" (press)="onAssociatedImagePress($event)"/>
			</div>
		</ion-card-content>
	</ion-card>

	<br/>
	<ion-row>
		<ion-button [disabled]="!isSaveBtnEnabled()" (click)="onSaveBtnTap(true)">Save</ion-button>
		<ion-button (click)="onCancelBtnTap()">Cancel</ion-button>
	</ion-row>
</ion-content>
