@import '../../app.scss';

#profileDisplayHeaderImg {
	height: 275px;
	display: block;
	margin: 0 auto;
}

.displayBlockPts {
	display: block;
	font-size: 2.1em;
	font-weight: bold;
}

.displayBlockOtherStuff {
	display: block;
	font-size: 1.6em;
	font-weight: bold;
}

.ptsTdElement {
	padding: 0 1em 0 1em;
}

.profileIcon {
	font-size: 1.45em;
	margin-top: .3em; 
}

.profileName {
	font-size: 2.3em;
	font-style: bold;
}

.profileDescription {
	padding: 1em 0 0 0;
}

.card {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#forImgOverlapDiv {
	height: 160px;
}

ion-card img {
	width: 100%;
}

.profile-info-content-div {
    width: 88%;
    height: 100%;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    padding-left: 7px;
    text-align: left;
    position: absolute;
    top: 7em;
}

.homeUserName {
	font-size: 27px;
}

#profileImgCard {
	position: relative;	
}

