@import '../../app.scss';

ion-select {
	width: 100%;
	max-width: 100%;
}

#profileSectionHeader {
	padding-top: 2em;
	color: cornflowerblue;
}

.width100 {
	width: 100%;
}

#forImgOverlapDiv {
	height: 160px;
}