ion-select {
	width: 100%;
	max-width: 100%;
}

#profileAvatarImg {
	width: 100%;
	height: 100%;
}

.centered {
	display: block;
	margin: 0 auto;
	text-align: center;
}

#profileSectionHeader {
	padding-top: 2em;
	color: cornflowerblue;
}

#contactInfoVisibilitySelect {
	max-width: 60%;
}

.width100 {
	width: 100%;
}