<ion-header>
	<easyah-header></easyah-header>
	<br/>
	<ion-row >
		<div class="centered page-header-row" *ngIf="isCurrentUsersProfile()">
			<h1 class="centered">Your Profile<br/></h1>
		</div>
		<div class="centered page-header-row" *ngIf="!isCurrentUsersProfile()">
			<h1 class="centered">View A Profile<br/></h1>
		</div>
	</ion-row>
</ion-header>

<ion-content cache-view="false" padding>
	<ion-grid >
			<ion-row >
				<div>
					<ion-item lines="none">
						<ion-button (click)="onGoBackBtnTap($event)">Go Back</ion-button>
						<ion-button *ngIf="isCurrentUsersProfile()" slot="end" (click)="onChangePasswordBtnClick($event)">Change Password</ion-button>
						<ion-button *ngIf="isCurrentUsersProfile()" slot="end" (click)="onEditProfileBtnClick($event)">Edit</ion-button>
					</ion-item>
				</div>
			</ion-row>
			<br/>
			<ion-row>
				<ion-card>
					<ion-card-content>
						<div id="forImgOverlapDiv">
							<img [src]="getThumbnailImage()"/>
						</div>
						<div class="home-profile-info-content-div">
							<table>
								<tr>
									<div class="homeUserName">
										<h2>{{getModelAttr('realname')}}</h2>
									</div>
								</tr>
								<tr>
									<div class="homeUserDescription">
										<h4>{{getModelAttr('description')}}</h4>
									</div>
								</tr>
							</table>
						</div>
					</ion-card-content>
				</ion-card>
			</ion-row>	
			<ion-row>
				<br/>
			</ion-row>
			<ion-row>
				<table class="centered">
					<tr *ngIf="isCurrentUserAllowedToSeePhoneInfo()">
						<span >
							<td>
								<ion-icon slot="start" class="cornfieldBlueColor profileIcon" name="phone-portrait"></ion-icon>
							</td>
							<td [ngStyle]="{'padding':'0 0 0 0.9em'}">
								<span class="cornfieldBlueColor">{{getModelAttr('phone')}}</span>
							</td>
						</span>
					</tr>
					<tr *ngIf="isCurrentUserAllowedToSeeEmailInfo()">
						<span >						
							<td>
								<ion-icon slot="start" class="cornfieldBlueColor profileIcon" name="mail"></ion-icon>
							</td>
							<td [ngStyle]="{'padding':'0 0 0 0.9em'}">
								<span class="cornfieldBlueColor">{{getModelAttr('email')}}</span>
							</td>
						</span>
					</tr>
				</table>
			</ion-row>		
	</ion-grid>

	<br/>

	<ion-row>
		<ion-card [ngStyle]="{'width':'100%'}">
			<ion-card-header>
				<div class="pointsSectionDescription">
					<h4>Profile Info</h4>
				</div>
			</ion-card-header>
			<ion-card-content>
				<table>
					<tr>
						<td class="ptsTdElement">
							<span class="displayBlock">{{getAllTimePointCount()}}</span> All Time Points
						</td>
						<td class="ptsTdElement">
							<span class="displayBlock">{{getSuccessfulRequestPercentageAsString()}}</span> Successful Request %
						</td>
						<td class="ptsTdElement">
							<span class="displayBlock">{{getHowLongAgoForMostRecentDisputedRequest()}}</span> Most Recent Dispute
						</td>
					</tr>
				</table>	
			</ion-card-content>
		</ion-card>
	</ion-row>

	<ion-row *ngIf="!isCurrentUsersProfile()">
		<ion-card [ngStyle]="{'width':'100%'}">
			<ion-card-content *ngIf="isSendPointBtnAvailable()">
				Sending a point says, Thanks! You can send many points over time.

				<ion-button (click)="onSendPointBtnTap($event)">Send Point</ion-button>
			</ion-card-content>
			<ion-card-content *ngIf="!isSendPointBtnAvailable()">
				Sending a point says, Thanks! You can send a point about once a week.

				<ion-button [disabled]="true" (click)="onSendPointBtnTap($event)">Send Point</ion-button>
			</ion-card-content>
		</ion-card>

	</ion-row>

	<ion-row *ngIf="!isCurrentUsersProfile()">
		<ion-card [ngStyle]="{'width':'100%'}">
			<ion-card-content *ngIf="isSendRecommendBtnAvailable()">
				Sending a recommendation is like giving your stamp of approval. Others can see it, and be more confident in the person you are recommending.

				<ion-button (click)="onSendRecommendationBtnTap($event)">Send Recommendation</ion-button>
			</ion-card-content>
			<ion-card-content *ngIf="!isSendRecommendBtnAvailable()">
				Sending a recommendation is giving your stamp of approval. You have already sent one to this person. They must use it before you can send another.
				
				<ion-button [disabled]="true" (click)="onSendRecommendationBtnTap($event)">Send Recommendation</ion-button>
			</ion-card-content>
		</ion-card>

	</ion-row>

	<ion-row *ngIf="isCurrentUsersProfile()">
		<ion-card [ngStyle]="{'width':'100%'}">
			<ion-card-header>
				<div class="pointsSectionDescription">
					<h4>Communication Settings</h4>
				</div>
			</ion-card-header>
			<ion-card-content>
				When you accept an offer, the other user can see your [ {{getContactInfoVisibilityDisplayString()}} ].
			</ion-card-content>
		</ion-card>
	</ion-row>

	<ion-row *ngIf="isCurrentUsersProfile()">
		<ion-card [ngStyle]="{'width':'100%'}">
			<ion-card-header>
				<div class="pointsSectionDescription">
					<h4>Location Settings</h4>
				</div>
			</ion-card-header>
			<ion-card-content>
				Your location is in, or near, [ {{getLocationDisplayString()}} ].
			</ion-card-content>
		</ion-card>
	</ion-row>

</ion-content>
