#profileDisplayHeaderImg {
	height: 275px;
	display: block;
	margin: 0 auto;
}

.displayBlock {
	display: block;
	font-size: 2.1em;
	font-weight: bold;
}

.ptsTdElement {
	padding: 0 1em 0 1em;
}



.profileIcon {
	font-size: 1.45em;
	margin-top: .3em; 
}

.circularized {
	border-radius: 50%;
}

.profileName {
	font-size: 2.3em;
	font-style: bold;
}

.profileDescription {
	padding: 1em 0 0 0;
}

.wide {
	width: 100%;
}

.centered {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.sectionHeader {
	display: block;
	margin: 0 auto;
	text-align: center;
	font-weight: 300;
	background-color: #6495ed;
	padding: .25em 0 .25em 0;
}

