<ion-content padding>

		<ion-row>
			<ion-col>
				<span class="centered">
					<ion-button (click)="onCancelBtnTap($event)">Cancel</ion-button>
					<ion-button [disabled]="!isSaveBtnEnabled()" (click)="onSaveBtnTap($event)">Save</ion-button>
				</span>
			</ion-col>
		</ion-row>

		<ion-row>
				<div class="profileAvatarImg centered">
					<img class="circular centerBackgroundPosition backgroundSizeCover" [src]="getThumbnailImage()" (click)="onThumbnailClick($event)" (press)="onThumbnailPress($event)"/>
				</div>


			<!--
			<ion-item id="profileAvatarImg" *ngIf="isThumbnailImageAvailable() && !isFromGallery()">
				<ion-avatar>
					<img [hidden]="!isThumbnailImageVisible()" [class]="getAvatarCSSClassString()" [src]="getThumbnailImage()" alt="profile_image" (load)="loaded($event)" (click)="onThumbnailClick($event)" (press)="onThumbnailPress($event)">
				</ion-avatar>
			</ion-item>
			<ion-item *ngIf="isThumbnailImageAvailable() && isFromGallery()">
				<ion-avatar >
					<img id="profileAvatarImg" [hidden]="!isThumbnailImageVisible()" [class]="getAvatarCSSClassString()" [src]="getThumbnailImage()" alt="profile_image" (load)="loaded($event)" (click)="onThumbnailClick($event)" (press)="onThumbnailPress($event)">
				</ion-avatar>
			</ion-item>
			<ion-item *ngIf="!isThumbnailImageAvailable()">
				<ion-avatar>
					<img id="profileAvatarImg" class="centered" src="assets/img/mushroom.jpg" (click)="onThumbnailClick($event)">
				</ion-avatar>
			</ion-item>
		-->
		
		</ion-row>

		<ion-row>
			<ion-col>
				<ion-item>
					<ion-label color="primary" position="stacked">Real Name</ion-label>
					<ion-input type="text" (ionChange)="onRealNameChange($event)" [value]="getModelAttr('realname')" required></ion-input>
				</ion-item>
				<ion-item>
					<ion-label color="primary" position="stacked">Description</ion-label>
					<ion-textarea rows="3" (ionChange)="onDescriptionChange($event)" [value]="getModelAttr('description')" required></ion-textarea>
				</ion-item>
				<ion-item>
					<ion-label color="primary" position="stacked">Phone Number</ion-label>
					<ion-input type="number" (ionChange)="onPhoneChange($event)" [value]="getModelAttr('phone')" required></ion-input>
				</ion-item>
				<ion-item>
					<ion-label color="primary" position="stacked">Email Address</ion-label>
					<ion-input type="text" (ionChange)="onEmailChange($event)" [value]="getModelAttr('email')" required></ion-input>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-item id="profileSectionHeader">Communication Settings</ion-item>
		</ion-row>
		<ion-row>
			<ion-item>
				<ion-label text-wrap>When you accept another user's request, that user can see your contact info. What should they see?</ion-label>
			</ion-item>				
			<ion-item class="width100">
				<ion-select id="contactInfoVisibilitySelect" [(ngModel)]="contactInfoVisibilityId" (ionChange)="setDirty(true)">
					<ion-select-option *ngFor="let choice of contactInfoVisibilityChoices" [value]="choice.id">{{choice.text}}</ion-select-option>
				</ion-select>
			</ion-item>
		</ion-row>

		<ion-row>
			<ion-item id="profileSectionHeader">Location Settings</ion-item>
		</ion-row>
		<ion-row>
			<ion-item>
				<ion-label text-wrap>Press this button to read your device's location.</ion-label>
			</ion-item>				
			<ion-item>
				<ion-button ion-button [disabled]="!isSetCurrentLocationBtnAvailable()" (click)="onSetCurrentLocationAsOfficialLocation($event)">Set Your Location</ion-button>
			</ion-item>
		</ion-row>

		<ion-row>
			<ion-col>
				<span class="centered">
					<ion-button (click)="onCancelBtnTap($event)">Cancel</ion-button>
					<ion-button [disabled]="!isSaveBtnEnabled()" (click)="onSaveBtnTap($event)">Save</ion-button>
				</span>
			</ion-col>
		</ion-row>

</ion-content>