ion-select {
	width: 100%;
	max-width: 100%;
}

#profileSectionHeader {
	padding-top: 2em;
	color: cornflowerblue;
}

#contactInfoVisibilitySelect {
	max-width: 60%;
}

.width100 {
	width: 100%;
}

.profileAvatarImg {
    height: 85px;
    width: 85px;
}
