<ion-header>
	<easyah-header></easyah-header>
</ion-header>

<ion-content cache-view="false" padding>

	<ion-grid >
			<ion-row >
				<div class="centered">
					<ion-item lines="none">
						<ion-button (click)="onGoBackBtnTap($event)">Go Back</ion-button>
						<ion-button *ngIf="isCurrentUsersProfile()" slot="end" (click)="onChangePasswordBtnClick($event)">Change Password</ion-button>
						<ion-button *ngIf="isCurrentUsersProfile()" shape="round" slot="end" (click)="onEditProfileBtnClick($event)"><ion-icon slot="start" class="whiteText profileIcon" name="create"></ion-icon></ion-button>
					</ion-item>
				</div>
			</ion-row>
			<br/>
			<ion-row>
				<div class="card">
					<img height="275px" [src]="getThumbnailImage()"/>
				</div>
			</ion-row>	

			<ion-row>
				<div class="centered">
					<br/>
					<span class="cornfieldBlueColor profileName">{{getModelAttr('realname')}}</span>
					<br/>
					<span class="cornfieldBlueColor profileDescription">{{getModelAttr('description')}}</span>
				</div>
			</ion-row>			
			<ion-row>
				<br/>
			</ion-row>
			<ion-row>
				<table class="centered">
					<tr *ngIf="isCurrentUserAllowedToSeePhoneInfo()">
						<span >
							<td>
								<ion-icon slot="start" class="cornfieldBlueColor profileIcon" name="phone-portrait"></ion-icon>
							</td>
							<td [ngStyle]="{'padding':'0 0 0 0.9em'}">
								<span class="cornfieldBlueColor">{{getModelAttr('phone')}}</span>
							</td>
						</span>
					</tr>
					<tr *ngIf="isCurrentUserAllowedToSeeEmailInfo()">
						<span >						
							<td>
								<ion-icon slot="start" class="cornfieldBlueColor profileIcon" name="mail"></ion-icon>
							</td>
							<td [ngStyle]="{'padding':'0 0 0 0.9em'}">
								<span class="cornfieldBlueColor">{{getModelAttr('email')}}</span>
							</td>
						</span>
					</tr>
				</table>
			</ion-row>		
	</ion-grid>

	<ion-row *ngIf="!isCurrentUsersProfile()">
		<div class="centered">
			<ion-button [disabled]="!isSendPointBtnAvailable()" (click)="onSendPointBtnTap($event)">Send Point</ion-button>
			<ion-button [disabled]="!isSendRecommendBtnAvailable()" (click)="onSendRecommendationBtnTap($event)">Send Recommendation</ion-button>
		</div>
	</ion-row>

	<br/>
	<!-- <ion-row *ngIf="!isCurrentUsersProfile()"> -->
	<ion-row>
		<div class="wide centered">
			<ion-list>
				<div class="sectionHeader">
					Profile Info
				</div>
				<table>
					<tr>
						<td class="ptsTdElement">
							<span class="displayBlock">{{getAllTimePointCount()}}</span> All Time Points
						</td>
						<td class="ptsTdElement">
							<span class="displayBlock">{{getSuccessfulRequestPercentageAsString()}}</span> Successful Request %
						</td>
						<td class="ptsTdElement">
							<span class="displayBlock">{{getHowLongAgoForMostRecentDisputedRequest()}}</span> Most Recent Dispute
						</td>
					</tr>
				</table>	
			</ion-list>
		</div>
	</ion-row>

	<ion-row *ngIf="isCurrentUsersProfile()">
		<div class="wide centered">
			<ion-list>
				<div class="sectionHeader">
					Communication Settings
				</div>
				<br/>
				When you accept an offer, the other user can see your [ {{getContactInfoVisibilityDisplayString()}} ].
			</ion-list>
		</div>
	</ion-row>

	<ion-row *ngIf="isCurrentUsersProfile()">
		<div class="wide centered">
			<ion-list>
				<div class="sectionHeader">
					Location Settings
				</div>
				<br/>
				Your location is in, or near, [ {{getLocationDisplayString()}} ].
			</ion-list>
		</div>
	</ion-row>

</ion-content>
