<ion-header>
	<easyah-header></easyah-header>
	<br/>
	<ion-row >
		<div class="centered offerEditHeaderRow">
			<h1 class="centered">Your Offers...<br/></h1>
		</div>
	</ion-row>
</ion-header>

<ion-content class="ion-padding">
	<ion-row >
		 <ion-button round class="centered" (click)="onNewOfferBtnTap()">
			Make a New Offer
		</ion-button>
	</ion-row>

	<ion-list *ngIf="userHasAnActiveOffer()">
		<ion-item *ngFor="let offer of getOffers()" (click)="onOfferBtnTap(offer)">
			<img [class]="getAvatarCSSClassString(offer)" [src]="getThumbnailImage(offer)"/>

			<div class="opol-ion-item-content-div">
				<table>
					<tr>
						<div class="offerTitle">
							<span class="offerTitle">{{offer.title}}</span><br/>
						</div>
					</tr>
					<tr>
						<span class="offerQuantity">{{offer.quantity}} {{offer.quantityDescription}}</span><br/>
					</tr>
					<tr>
						<div class="offerDesc">
							<span>{{offer.description}}</span><br/>
						</div>
					</tr>
					<tr>
						<div class="offerDetail">
							<span id="offerReqdPtsId" class="offerReqdPts">{{getPointRecommendationCountPhrase(offer)}}<br/></span>
							<span *ngFor="let keyword of offer.keywords"><span class="smallKeyword">{{keyword.text}}</span></span>
						</div>
					</tr>
				</table>
			</div>
		</ion-item>
	</ion-list>
	<ion-list *ngIf="!userHasAnActiveOffer()">
		<ion-item>
			The offers you create will appear here! 
		</ion-item>
	</ion-list>
</ion-content>
<ion-footer>
	<ion-row>
		<span class="centered">Tap your offer to view, edit or delete!</span>
	</ion-row>
</ion-footer>