<ion-header>
	<ion-toolbar>
		<ion-title>
				Delete an Offer - {{model.title}}
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<ion-row *ngIf="!isOfferAttachedToARequestNotInProgress() && !isOfferAttachedToAnInProgressRequest() && !isOfferAttachedToACompletedButNotConfirmedRequest">
		<ion-label>Are you sure you want to delete this offer?</ion-label><br/>
	</ion-row>

	<ion-row *ngIf="isOfferAttachedToARequestNotInProgress() || isOfferAttachedToAnInProgressRequest() || isOfferAttachedToACompletedButNotConfirmedRequest()">
		<ion-label>People have asked to take you up on this offer...</ion-label><br/>
	</ion-row>

	<ion-row *ngIf="isOfferAttachedToARequestNotInProgress()">
		<ion-card>
			<ion-card-header>
				You have not yet accepted these requests. If you delete this offer, these requests will be cancelled.
			</ion-card-header>
			<ion-card-content>
				<ion-item *ngFor="let req of getOfferRequestsNotInProgress()" lines="none">
					User: {{req.directionallyOppositeUser.realname}} 
				</ion-item>
			</ion-card-content>
		</ion-card>
	</ion-row>		
	<ion-row *ngIf="isOfferAttachedToAnInProgressRequest()">
		<ion-card>
			<ion-card-header>
				These requests are in progress. You will need to resolve these before deleting this offer.
			</ion-card-header>
			<ion-card-content>
				<ion-item *ngFor="let req of getOfferRequestsInProgress()" lines="none">
					User: {{req.directionallyOppositeUser.realname}} 
				</ion-item>
			</ion-card-content>
		</ion-card>
	</ion-row>

	<ion-row *ngIf="isOfferAttachedToACompletedButNotConfirmedRequest()">
		<ion-card>
			<ion-card-header>
				You have marked these requests completed, but the other side has not confirmed. You gotta wait until these requests are resolved.
			</ion-card-header>
			<ion-card-content>
				<ion-item *ngFor="let req of getOfferRequestsCompletedButNotConfirmed()" lines="none">
					User: {{req.directionallyOppositeUser.realname}} 
				</ion-item>
			</ion-card-content>
		</ion-card>
	</ion-row>

	<ion-row>
		<ion-button (click)="onCancelBtnTap($event)">Sorry, no.. Cancel</ion-button>
		<ion-button color="danger" [disabled]="!isDeleteBtnEnabled()" (click)="onDeleteBtnTap($event)">DELETE!</ion-button>
	</ion-row>

</ion-content>