
.displayOfferSectionHeader {
	display: block;
	padding-bottom: 1em;
	font-size: 1.2em;
	font-weight: 300;
}

.editOfferImage {
	height: 5em;
	width: 5em;
}

#offerQuantity > input { 
	margin-top: 0;
	margin-left: .6em;
	font-size: 1.25em;
}

#offerQuantityDesc > input { 
	margin-top: 0;
	font-size: 1.25em;
}

.blockItem {
	display: inline-block;
	border-style: solid;
	padding: 0.5em;
	margin-left: .25em;
	margin-right: .25em;
	margin-bottom: .5em;
}

.centered {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.offerEditHeaderRow {
  padding-bottom: 1em;
}

.oneHundredPercentWidth {
	width: 100%;
}