<ion-header>
	<easyah-header></easyah-header>
	<br/>
	<ion-row >
		<div *ngIf="!isNewObject()" class="centered offerEditHeaderRow">
			<h1 class="centered">Edit Your Offer<br/></h1>
		</div>
		<div *ngIf="isNewObject()" class="centered offerEditHeaderRow">
			<h1 class="centered">Create New Offer<br/></h1>
		</div>
	</ion-row>
</ion-header>

<ion-content>
	<ion-grid>
		<ion-row>
			<ion-item lines="none">
				<ion-label color="primary" position="stacked">Title: </ion-label>
				<ion-input type="text" placeholder="Teach a skill..." (ionChange)="handleTitleChange($event)" [disabled]="!isModelTitleEditable()" [value]="getModelAttr('title')" required></ion-input>
			</ion-item>
		</ion-row>
		<ion-row>
			<ion-col col-2>
				<ion-label color="primary" position="stacked">Quantity </ion-label>
				<ion-input id="offerQuantity" type="number" (ionChange)="handleQuantityChange($event)" [disabled]="!isModelQuantityEditable()" [value]="getModelAttr('quantity')" required></ion-input>
			</ion-col>
			<ion-col>
				<ion-label color="primary" position="stacked">units: </ion-label>
				<ion-input id="offerQuantityDesc" type="text" maxlength="50" placeholder="Offered units" (ionChange)="handleQuantityDescriptionChange($event)" [disabled]="!isModelQuantityDescEditable()" [value]="getModelAttr('quantityDescription')" required></ion-input>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-item class="oneHundredPercentWidth" lines="none">
				<ion-label color="primary" position="stacked">Description: </ion-label>
				<ion-textarea rows="5" placeholder="I have many moons experience in XYZ and I will teach..." (ionChange)="handleDescriptionChange($event)" [disabled]="!isModelDescriptionEditable()" [value]="getModelAttr('description')"  required></ion-textarea>
			</ion-item>
		</ion-row>
		<ion-row>
			<ion-card [ngStyle]="{'width':'100%'}">
				<ion-card-header>
					<div class="pointsSectionDescription">
						<h4>Rules</h4>
					</div>
				</ion-card-header>
				<ion-card-content>
					<ion-button (click)="onNewRuleBtnTap($event)" [ngStyle]="{'width':'100%'}">
						ADD
					</ion-button>
					<br/>
					<span *ngIf="getRequiredPointsQuantity() === 0">
						Rules describe who can request this offer from you. Set some points!
					</span>
					<span *ngIf="getRequiredPointsQuantity() > 0">
						<i>This offer will require {{getRequiredPointsQuantityString()}}</i>
						<span *ngIf="areRecommendationsRequired()">
							<i> and the following recommendations: </i><br/>
							<span class="blockItem" *ngFor="let rec of getRequiredUserRecommendations()">
								{{rec.userObj.realname}}<br/>
							</span>
						</span>
					</span>
				</ion-card-content>
			</ion-card>
		</ion-row>
		<ion-row>
			<ion-card [ngStyle]="{'width':'100%'}">
				<ion-card-header>
					<div class="pointsSectionDescription">
						<h4>Keywords</h4>
					</div>
				</ion-card-header>
				<ion-card-content>
					<ion-button (click)="onAddKeywordBtnTap($event)" [ngStyle]="{'width':'100%'}">
						ADD
					</ion-button>
					<br/>
					<span *ngIf="offerHasNoKeywords()">
						Keywords are descriptive words and phrases. Add some that describe this Offer!
					</span>
					<span *ngFor="let item of getKeywords()">
						<span class="blockItem" (press)="onIndividualKeywordPress()">{{item.text}}</span>
					</span>

				</ion-card-content>
			</ion-card>
		</ion-row>
		<ion-row>
			<ion-card [ngStyle]="{'width':'100%'}">
				<ion-card-header>
					<div class="pointsSectionDescription">
						<h4>Image (optional)</h4>
					</div>
				</ion-card-header>
				<ion-card-content>
					<ion-button (click)="onThumbnailClick($event)" [ngStyle]="{'width':'100%'}">
						ADD
					</ion-button>
					<div *ngIf="offerHasAnAssociatedImage()" class="centered avatar">
						<img class="avatar-in-a-list" [src]="getThumbnailImage()" (click)="onThumbnailClick($event)" (press)="onThumbnailPress($event)"/>
					</div>
				</ion-card-content>
			</ion-card>
		</ion-row>

		<br/>
		<ion-row>
			<ion-button [disabled]="!isSaveBtnEnabled()" (click)="onSaveBtnTap(true)">Save</ion-button>
			<ion-button (click)="onCancelBtnTap()">Cancel</ion-button>
		</ion-row>
	</ion-grid>
</ion-content>
