ion-label {
   white-space: normal !important;
   max-width: none !important;
   width: 100%;
}

.recommendationLabel {
	min-width: 3em;
}

.floatRight > input.text-input.text-input-md {
	float: right;
}

.floatRight {
	float: right;
}

.blockItem {
	display: inline-block;
	border-style: solid;
	padding: 0.5em;
	margin-left: .25em;
	margin-right: .25em;
	margin-bottom: .5em;
}

