<ion-header>
	<easyah-header></easyah-header>
</ion-header>

<ion-content class="ion-padding">
	<ion-grid>
		<ion-row>
			<ion-button (click)="onGoBackBtnTap($event)">Go Back</ion-button>
		</ion-row>
		<ion-row>
			<ion-col >
				<img id="login-logo-img" src="assets/img/logo.jpg">
			</ion-col>
		</ion-row>
		<hr/>
		<ion-row>
			<div class="centered">
				Easyah has several tutorials which pop up at useful occasions throughout the app. But you don't have to wait for them!<br/>
				You can walk through any of the tutorials by clicking the appropriate button in this list.<br/><br/>
				Enjoy!<br/><br/>
			</div>
		</ion-row>
		<ion-row>
			<ion-button class="wideButton" (click)="onWelcomeTutorialBtnTap()">Easyah Introduction</ion-button>
			<ion-button class="wideButton" (click)="onBasicConceptsTutorialBtnTap()">Basic Concepts</ion-button>
			<ion-button class="wideButton" (click)="onIncomingTutorialBtnTap()">You've Accepted an Incoming Request</ion-button>
			<ion-button class="wideButton" (click)="onOutgoingTutorialBtnTap()">You've Made an Outgoing Request</ion-button>
		</ion-row>
	</ion-grid>
</ion-content>