<ion-header>
	<easyah-header></easyah-header>
	<br/>
	<ion-row >
			<div class="centered notificationsHeaderRow">
				<h1 class="centered">Your Notifications...<br/></h1>
			</div>
	</ion-row>
</ion-header>

<ion-content padding>
	<ion-item *ngIf="userHasNoNotifications()" lines="none">
		<table>
			<tr>
				<img class="centered" src="assets/img/no-notifications.jpg">
			</tr>
			<tr>
				<span class="centered"><br/>No notifications.. go make something happen!</span>
			</tr>
		</table>
	</ion-item>

	<ion-list *ngIf="!userHasNoNotifications()">
		<!-- span>Swipe left to clear a notification.<br/><br/></span -->
		<ion-item-group *ngFor="let item of getNotifications()">
			<ion-item-sliding  [class]="getTrack(item)" >
				<ion-item>
					<div class="centered avatar-in-a-list-wrapper-div">
						<img class="avatar-in-a-list" [src]="getDOUserProfileImageFilepath(item['oppUserId'])"/>
					</div>

					<span >
						<span class="howLongAgo">{{item.howLongAgo}}</span><span class="notificationMsg">{{item.message}}</span>
					</span>
				</ion-item>
				<ion-item-options side="start">
					<ion-item-option (click)="onClearIndividualNotification(item)">Clear</ion-item-option>
				</ion-item-options>

			</ion-item-sliding>
		</ion-item-group>
	</ion-list>

</ion-content>