
<ion-content id="newAccountTutorialPage">
	<ion-slides data-test="new-account-tutorial-modal" pager="true" [options]="slideOpts" #slides (ionSlideWillChange)="onSlideChangeStart($event)">
		<ion-slide>
			<div id="page1" class="new-account-tutorial-page" data-test="new-account-tutorial-modal-page-1">
			Welcome! Welcome!<br/><br/>
			Easyah is about increasing collaboration and making good things happen between people. To do that, folks need to communicate. <br/><br/>
			The two most common ways nowadays are through email and by phone.<br/><br/>
			Just so you know, we require both your email address, and phone number to create an account.<br/><br/>
			</div>
		</ion-slide>
		<ion-slide>
			<div id="page2" class="new-account-tutorial-page" data-test="new-account-tutorial-modal-page-2">
			We ask for your <b>email address</b> so that people (including us) can communicate with you quickly and easily.<br/><br/>
			We will email you a few times per year, and if you choose to interact with another user, your email may be available to them.<br/><br/>
			</div>
		</ion-slide>
		<ion-slide>	
			<div id="page3" class="new-account-tutorial-page" data-test="new-account-tutorial-modal-page-3">
			We use your <b>phone number</b>, not only to allow communication between users, but also to help ensure that each person creates only a single account.<br/><br/>
			Still, we would <b>NEVER</b> call you NOR give out your phone number without your EXPLICIT permission.<br/><br/>
			Easyah will keep your phone number private, until you allow us to reveal it.<br/><br/>
			We believe in <u>privacy</u> and <u>transparency</u>, and wanted to let you know why we ask for that info when you create an account.<br/><br/>
			
			<ion-button id="continueBtn"  data-test="new-account-tutorial-modal-continue-btn" icon-end large clear (click)="dismissTutorial()">
				Continue
				<ion-icon slot="start" name="arrow-forward"></ion-icon>
			</ion-button>
			</div>
		</ion-slide>
	</ion-slides>
</ion-content>
