<ion-header>
	<ion-toolbar>
		<ion-title>
			Accept a Request
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-label>You are about to commit to fulfill an offer you made!</ion-label>
	<ion-label><b>{{model.offer.title}}</b></ion-label>
	<hr/>
	<ion-label>Be 100% sure you are able to do it! Karma's a Capital B, as they say.</ion-label>

	<ion-row>
		<ion-label>Are you 100% sure?</ion-label>
	</ion-row>

	<ion-row>
		<ion-button (click)="onCancelBtnTap($event)">Sorry, no.. Cancel</ion-button>
		<ion-button (click)="onSaveBtnTap($event)">YES!</ion-button>
	</ion-row>

</ion-content>