<ion-header>
	<ion-toolbar>
		<ion-title>
			Accept a Request
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<ion-label>You are about to commit to fulfill an offer you made!</ion-label><br/><br/>
	<ion-label><b>{{model.offer.title}}</b></ion-label><br/><br/>
	<hr/>
	<ion-label>Be 100% sure you are able to do it! Karma's a Capital B, as they say.</ion-label><br/><br/>

	<ion-row>
		<ion-label>Are you sure?</ion-label>
	</ion-row>
	<br/><br/>
	<ion-row>
		<ion-button (click)="onCancelBtnTap($event)">Sorry, no.. Cancel</ion-button>
		<ion-button (click)="onSaveBtnTap($event)">YES!</ion-button>
	</ion-row>
</ion-content>