<ion-header>
	<ion-toolbar>
		<ion-title>
			Cancel a Request
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-label>You are about to CANCEL a request that you committed to doing.</ion-label>
	<ion-label>This will be included in your history, and will be public!</ion-label>
	<hr/>
	<ion-label><b>{{model.title}}</b></ion-label>

	<ion-row>
		<ion-label>Type the word cancel, and then press the YES! button if you're sure.</ion-label>
		<ion-input type="text" placeholder="type cancel here..." [(ngModel)]="confirmationString" #ctrl="ngModel" (keyup.enter)="onSaveBtnTap($event)" required></ion-input>
	</ion-row>

	<ion-row>
		<ion-button (click)="onCancelBtnTap($event)">Sorry, no.. Cancel</ion-button>
		<ion-button [disabled]="!isSaveBtnEnabled()" (click)="onSaveBtnTap($event)">YES!</ion-button>
	</ion-row>

</ion-content>