<ion-header>
	<easyah-header></easyah-header>
	<br/>
	<ion-row >
			<div class="centered requestsHeaderRow">
				<h1 class="centered">People asked you for...<br/></h1>
			</div>
	</ion-row>
</ion-header>

<ion-content padding>
	<!-- TODO: Add a Refresher -->
	<ion-item *ngIf="isRequestModelEmpty()" lines="none">
		<table>
			<tr>
				<img class="centered" src="assets/img/no-incoming-requests.jpg">
			</tr>
			<tr>
				<span id="goForthMsg" class="centered"><br/>You don't have any open requests from others... yet!</span>
			</tr>
		</table>
	</ion-item>



	<ion-list *ngIf="getPendingRequests()">
		<ion-item-divider sticky>
			<ion-label>
				Waiting for you to accept, or decline
			</ion-label>
		</ion-item-divider>
		<ion-item-group *ngFor="let request of getPendingRequests()">
			<ion-item-sliding [class]="getTrack(request)" (press)="onViewOffer(request)">
				<ion-item>
					<ion-avatar slot="start">
						<img id="offerAvatarImg" [class]="getAvatarCSSClassString(request.offer)" [src]="getThumbnailImage(request.offer)" alt="profile_image">
					</ion-avatar>

					<table>
						<tr>
							<div class="offerTitle">
								<span><b>{{request.offer.title}}</b></span><br/>
							</div>
						</tr>
						<tr>
							<span class="offerQuantity">{{request.offer.quantity}} {{request.offer.quantityDescription}}</span><br/>
						</tr>
						<tr>
							<span *ngIf="hasRequestMessage(request)" class="douMsg">{{getRequestMessage(request)}}<br/></span>
						</tr>
						<tr>
							<span *ngIf="!hasRequestMessage(request)" class="douMsg">--<br/></span>
						</tr>
						<tr>
							<span class="douName">{{request.directionallyOppositeUser.realname}}</span><br/>
						</tr>
					</table>

				</ion-item>
				<ion-item-options side="start">
					<ion-item-option (click)="onViewContactInfoBtnTap(request)">View Profile</ion-item-option>
					<ion-item-option color="secondary" (click)="onAcceptBtnTap(request)">Accept</ion-item-option>
				</ion-item-options>
				<ion-item-options side="end">
					<ion-item-option ion-button color="danger" (click)="onDeclineBtnTap(request)">Decline</ion-item-option>
				</ion-item-options>
	  		</ion-item-sliding>
		</ion-item-group>
	</ion-list>
	<ion-list *ngIf="getAcceptedRequests()">
		<ion-item-divider sticky>
			<ion-label>
				You Accepted, You put these In-Progress
			</ion-label>
		</ion-item-divider>
		<ion-item-group *ngFor="let request of getAcceptedRequests()">
			<ion-item-sliding  [attr.track]="getTrack(request)" (press)="onViewOffer(request)">
				<ion-item>
					<ion-avatar slot="start">
						<img id="offerAvatarImg" [class]="getAvatarCSSClassString(request.offer)" [src]="getThumbnailImage(request.offer)" alt="profile_image">
					</ion-avatar>

					<div >
						<table>
							<tr>
								<div class="offerTitle">
									<span class="offerTitle"><b>{{request.offer.title}}</b></span><br/>
								</div>
							</tr>
							<tr>
								<span class="offerQuantity">{{request.offer.quantity}} {{request.offer.quantityDescription}}</span><br/>
							</tr>
							<tr>
								<span *ngIf="hasRequestMessage(request)" class="douMsg">{{getRequestMessage(request)}}<br/></span>
							</tr>
							<tr>
								<span *ngIf="!hasRequestMessage(request)" class="douMsg">--<br/></span>
							</tr>
							<tr>
								<span class="douName">{{request.directionallyOppositeUser.realname}}</span><br/>
							</tr>
						</table>
					</div>
				</ion-item>
				<ion-item-options side="start">
					<ion-item-option color="secondary" (click)="onCompleteBtnTap(request)">Mark Completed</ion-item-option>
					<ion-item-option (click)="onViewContactInfoBtnTap(request)">Contact Info</ion-item-option>
				</ion-item-options>
				<ion-item-options side="end">
					<ion-item-option color="danger" (click)="onCancelBtnTap(request)">Cancel</ion-item-option>
				</ion-item-options>
	  		</ion-item-sliding>
		</ion-item-group>
	</ion-list>
	<ion-list *ngIf="getDeclinedRequests()">
		<ion-item-divider sticky>
			<ion-label>
				You Declined
			</ion-label>
		</ion-item-divider>
		<ion-item-group *ngFor="let request of getDeclinedRequests()">
			<ion-item-sliding  [attr.track]="getTrack(request)" (press)="onViewOffer(request)">
				<ion-item>
					<ion-avatar slot="start">
						<img id="offerAvatarImg" [class]="getAvatarCSSClassString(request.offer)" [src]="getThumbnailImage(request.offer)" alt="profile_image">
					</ion-avatar>

					<div >
						<table>
							<tr>
								<div class="offerTitle">
									<span class="offerTitle"><b>{{request.offer.title}}</b></span><br/>
								</div>
							</tr>
							<tr>
								<span class="offerQuantity">{{request.offer.quantity}} {{request.offer.quantityDescription}}</span><br/>
							</tr>
							<tr>
								<span *ngIf="hasRequestMessage(request)" class="douMsg">{{getRequestMessage(request)}}<br/></span>
							</tr>
							<tr>
								<span *ngIf="!hasRequestMessage(request)" class="douMsg">--<br/></span>
							</tr>
							<tr>
								<span class="douName">{{request.directionallyOppositeUser.realname}}</span><br/>
							</tr>
							<tr>
								<span class="foo">Decline Reason: {{request.declinedReasonCode.text}}</span><br/>
							</tr>
						</table>
					</div>
				</ion-item>
				<ion-item-options side="start">
					<ion-item-option (click)="onViewContactInfoBtnTap(request)">View Profile</ion-item-option>
				</ion-item-options>
				<ion-item-options side="end">
					<ion-item-option color="danger" (click)="onHideRequestBtnTap(request)">Hide</ion-item-option>
				</ion-item-options>
			</ion-item-sliding>
		</ion-item-group >
	</ion-list>
	<ion-list *ngIf="getCompletedPendingApprovalRequests()">
		<ion-item-divider sticky>
			<ion-label>
				You Marked These Completed. Awaiting the other side's confirmation.
			</ion-label>
		</ion-item-divider>
		<ion-item-group *ngFor="let request of getCompletedPendingApprovalRequests()">
			<ion-item-sliding  [attr.track]="getTrack(request)" (press)="onViewOffer(request)">
				<ion-item>
					<ion-avatar slot="start">
						<img id="offerAvatarImg" [class]="getAvatarCSSClassString(request.offer)" [src]="getThumbnailImage(request.offer)" alt="profile_image">
					</ion-avatar>

					<div >
						<table>
							<tr>
								<div class="offerTitle">
									<span class="offerTitle"><b>{{request.offer.title}}</b></span><br/>
								</div>
							</tr>
							<tr>
								<span class="offerQuantity">{{request.offer.quantity}} {{request.offer.quantityDescription}}</span><br/>
							</tr>
							<tr>
								<span *ngIf="hasRequestMessage(request)" class="douMsg">{{getRequestMessage(request)}}<br/></span>
							</tr>
							<tr>
								<span *ngIf="!hasRequestMessage(request)" class="douMsg">--<br/></span>
							</tr>
							<tr>
								<span class="douName">{{request.directionallyOppositeUser.realname}}</span><br/>
							</tr>
						</table>
					</div>
				</ion-item>
				<ion-item-options side="start">
					<ion-item-option (click)="onViewContactInfoBtnTap(request)">Contact Info</ion-item-option>
				</ion-item-options>
			</ion-item-sliding>
		</ion-item-group >
	</ion-list>
	<ion-list *ngIf="getDisputedCompletedRequests()">
		<ion-item-divider sticky>
			<ion-label>
				There is a dispute with these
			</ion-label>
		</ion-item-divider>
		<ion-item-group *ngFor="let request of getDisputedCompletedRequests()">
			<ion-item-sliding  [attr.track]="getTrack(request)" (press)="onViewOffer(request)">
				<ion-item>
					<ion-avatar slot="start">
						<img id="offerAvatarImg" [class]="getAvatarCSSClassString(request.offer)" [src]="getThumbnailImage(request.offer)" alt="profile_image">
					</ion-avatar>

					<div >
						<table>
							<tr>
								<div class="offerTitle">
									<span class="offerTitle"><b>{{request.offer.title}}</b></span><br/>
								</div>
							</tr>
							<tr>
								<span class="offerQuantity">{{request.offer.quantity}} {{request.offer.quantityDescription}}</span><br/>
							</tr>
							<tr>
								<span *ngIf="hasRequestMessage(request)" class="douMsg">{{getRequestMessage(request)}}<br/></span>
							</tr>
							<tr>
								<span *ngIf="!hasRequestMessage(request)" class="douMsg">--<br/></span>
							</tr>
							<tr>
								<span class="douName">{{request.directionallyOppositeUser.realname}}</span><br/>
							</tr>
						</table>
					</div>
				</ion-item>
				<ion-item-options side="start">
					<ion-item-option (click)="onViewContactInfoBtnTap(request)">Contact Info</ion-item-option>
				</ion-item-options>
				<ion-item-options side="end">
					<ion-item-option color="danger" (click)="onCompleteBtnTap(request)">Complete</ion-item-option>
				</ion-item-options>
			</ion-item-sliding>
		</ion-item-group >
	</ion-list>

</ion-content>

<ion-footer>
	<ion-row>
		<span class="centered">Swipe Left or Right, Tap, or Hold!</span>
	</ion-row>
</ion-footer>