.otherPeoplesOfferTitle {
	font-size: 1.15em;
	font-weight: bold;
	padding-top: 0.3em;
}

.offerQuantity {
	font-style: italic;
}

.floatDivLeft {
	float: left;
}

.offerDesc {
	float: left;
}

.offerListItemButton {
	background-color: white;
}

.otherPeoplesOfferIconRow {
	padding-bottom: 0.4em;
}

.otherPeoplesOfferDesc {
	margin-left: 0.6em;
	padding-bottom: 0.3em;
}

.circular {
	border-radius: 50%;	
}

.centerBackgroundPosition {
	background-position: center;
}

.avatar {
	height: 5em;
	width: 5em;
}
