@import '../../app.scss';

.otherPeoplesOfferTitle {
	font-size: 1.15em;
	font-weight: bold;
	padding-top: 0.3em;
}

.offerQuantity {
	font-style: italic;
}

.floatDivLeft {
	float: left;
}

.offerDesc {
	float: left;
}

.offerListItemButton {
	background-color: white;
}

.otherPeoplesOfferIconRow {
	padding-bottom: 0.4em;
}

.otherPeoplesOfferDesc {
	margin-left: 0.6em;
	padding-bottom: 0.3em;
}

.opoAvatar-wrapper {
	@extend .avatar-in-a-list-wrapper-div;
}

.opoAvatar {
	@extend .avatar-in-a-list;
	width: 7em;
}

ion-item {
	height: 170px;
}

ion-item img {
	width: 100%;
	height: 160px;
	opacity: 0.85;
}

.opol-ion-item-content-div {
    width: 88%;
    height: 100%;
    position: absolute;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}