.offerTitle {
	font-size: 1.25em;
	font-weight: bold;
}

.floatDivLeft {
	float: left;
}

.offerDesc {
	float: left;
}

.offerListItemButton {
	background-color: white;
}

#opol-avatar {
	width: 2em;
    height: 2em;
    border-radius: 50%;
}