<ion-item-group [hidden]="getListOfOffers() !== undefined && getListOfOffers().length > 0">
	<ion-item-sliding >
		<ion-item>
			<button>
				<span>There are no matching offers :/</span><br/>
			</button>
		</ion-item>
	</ion-item-sliding>
</ion-item-group>

<ion-item-group *ngFor="let offer of getListOfOffers()">
	<ion-item-sliding  (click)="onViewOffer(offer)">
		<ion-item>
			<ion-avatar id="opol-avatar" slot="start">
				<img id="offerAvatarImg" class="getAvatarCSSClassString(offer)" [src]="getThumbnailImage(offer)" alt="profile_image">
			</ion-avatar>

			<div class="offerMetadataDiv">
				<table>
					<tr>
						<div class="otherPeoplesOfferTitle">
							<span class="otherPeoplesOfferTitle">{{offer.title}}</span>
						</div>
					</tr>
					<tr>
						<div class="otherPeoplesOfferIconRow">
							<ion-icon slot="start" [ngStyle]="{'color':getAlreadyRequestedIconColor(offer)}" name="megaphone"> </ion-icon>
							<ion-icon slot="start" [ngStyle]="{'color':getSufficientPointsIconColor(offer)}" name="pricetag"></ion-icon>
							<ion-icon slot="start" *ngIf="hasOfferBeenPreviouslyRequested(offer)" [ngStyle]="{'color':getSufficientTimeIconColor(offer)}" name="clock"></ion-icon>
							<ion-icon slot="start" *ngIf="areRecommendationsRequired(offer)" [ngStyle]="{'color':getNecessaryRecommendationsIconColor(offer)}" name="people"></ion-icon>
							- <span class="offerQuantity">{{offer.quantity}} {{offer.quantityDescription}}</span><br/>
						</div>
					</tr>
					<tr>
						<div class="otherPeoplesOfferDesc">
							<span class="offerDesc">{{offer.description}}</span>
						</div>
					</tr>
				</table>
			</div>
		</ion-item>
	</ion-item-sliding>
</ion-item-group>
