%avatarInAListWrapperDiv {
    margin-right: 1em;
}

%avatarInAList {
    height: 3em;
    width: 3.25em;
    background-size: cover;    
    background-position: center;    
    border-radius: 50%;     
}

.avatar-in-a-list-wrapper-div {
	@extend %avatarInAListWrapperDiv
}

.avatar-in-a-list {
	@extend %avatarInAList
}