<ion-content class="ion-padding">

		<ion-row>
			<ion-col>
				<span class="centered">
					<ion-button (click)="onCancelBtnTap()">Cancel</ion-button>
					<ion-button [disabled]="!isSaveBtnEnabled()" (click)="onSaveBtnTap()">Save</ion-button>
				</span>
			</ion-col>
		</ion-row>

		<ion-row>
				<ion-card>
					<ion-card-content>
						<div id="forImgOverlapDiv">
							<img [src]="getThumbnailImage()" [class]="getAvatarCSSClassString()" (click)="onThumbnailImageClick()" (press)="onThumbnailPress()"/>
						</div>
					</ion-card-content>
				</ion-card>
		</ion-row>

		<ion-row>
			<ion-col>
				<form [formGroup]="editAccountForm">
					<ion-item>
						<ion-label color="primary" position="stacked">Real Name</ion-label>
						<ion-input type="text" formControlName="realname" (ionChange)="onRealNameChange($event)" [value]="getModelAttr('realname')"></ion-input>
				        <span class="text-danger"
				            *ngIf="(editAccountFormControl.realname.touched ) && editAccountFormControl.realname.errors?.required">
				            Real Name is required
				        </span>
				        <span class="text-danger"
				            *ngIf="(editAccountFormControl.realname.touched ) && editAccountFormControl.realname.errors?.minlength">
				            Real Name must be at least 3 characters
				        </span>
				        <span class="text-danger"
				            *ngIf="(editAccountFormControl.realname.touched ) && editAccountFormControl.realname.errors?.maxlength">
				            Real Name must be less than 25 characters
				        </span>
				        <span class="text-danger"
				            *ngIf="(editAccountFormControl.realname.touched ) && editAccountFormControl.realname.errors?.pattern">
				            Real Name cannot contain special characters
				        </span>
					</ion-item>
					<ion-item>
						<ion-label color="primary" position="stacked">Description</ion-label>
						<ion-textarea rows="3" formControlName="description" (ionChange)="onDescriptionChange($event)" [value]="getModelAttr('description')"></ion-textarea>
				        <span class="text-danger"
				            *ngIf="(editAccountFormControl.description.touched ) && editAccountFormControl.description.errors?.required">
				            Description is required
				        </span>
				        <span class="text-danger"
				            *ngIf="(editAccountFormControl.description.touched ) && editAccountFormControl.description.errors?.minlength">       
				            Description must be at least 3 characters
				        </span>
				        <span class="text-danger"
				            *ngIf="(editAccountFormControl.description.touched ) && editAccountFormControl.description.errors?.maxlength">       
				            Description must be less than 250 characters
				        </span>
				        <span class="text-danger"
				            *ngIf="(editAccountFormControl.description.touched ) && editAccountFormControl.description.errors?.pattern">       
				            Description cannot contain special characters
				        </span>
					</ion-item>
					<ion-item>
						<ion-label color="primary" position="stacked">Phone Number</ion-label>
						<ion-input type="tel" formControlName="phone" (ionChange)="onPhoneChange($event)" [value]="getModelAttr('phone')" ></ion-input>
				        <span class="text-danger"
				            *ngIf="(editAccountFormControl.phone.touched ) && editAccountFormControl.phone.errors?.required">
				            Phone Number is required
				        </span>
				        <span class="text-danger"
				            *ngIf="(editAccountFormControl.phone.touched ) && (editAccountFormControl.phone.errors?.minlength || editAccountFormControl.phone.errors?.maxlength || editAccountFormControl.phone.errors?.pattern)">
				            Phone Number should be 10 digits long
				        </span>
				        <!-- <span class="text-danger"
				            *ngIf="(editAccountFormControl.phone.touched ) && editAccountFormControl.phone.errors?.phoneNumberNotAvailable">
				            This phone number is already in use
				        </span> -->
					</ion-item>
					<ion-item>
						<ion-label color="primary" position="stacked">Email Address</ion-label>
						<ion-input type="text" formControlName="email" (ionChange)="onEmailChange($event)" [value]="getModelAttr('email')"></ion-input>
				        <span class="text-danger"
				            *ngIf="(editAccountFormControl.email.touched ) && editAccountFormControl.email.errors?.required ">
				            Email is required
				        </span>
				        <span class="text-danger"
					        *ngIf="(editAccountFormControl.email.touched ) && (editAccountFormControl.email.errors?.pattern || editAccountFormControl.email.errors?.minlength)">
					        Enter a valid email address
				        </span>
	<!-- 			        <span class="text-danger"
					        *ngIf="emailChanged && editAccountFormControl.email.touched && editAccountFormControl.email.errors?.emailAddressNotAvailable">
					        This email address is already in use
				        </span> -->
					</ion-item>
				</form>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-item id="profileSectionHeader">Communication Settings</ion-item>
		</ion-row>
		<ion-row>
			<ion-item>
				<ion-label class="ion-text-wrap">When you accept another user's request, that user can see your contact info. What should they see?</ion-label>
			</ion-item>				
			<ion-item>
				<ion-select id="contactInfoVisibilitySelect" [(ngModel)]="contactInfoVisibilityId" (ionChange)="setDirty(true)">
					<ion-select-option *ngFor="let choice of contactInfoVisibilityChoices" [value]="choice.id">{{choice.text}}</ion-select-option>
				</ion-select>
			</ion-item>
		</ion-row>

		<ion-row>
			<ion-item id="profileSectionHeader">Location Settings</ion-item>
		</ion-row>
		<ion-row>
			<ion-item>
				<ion-label class="ion-text-wrap">Press this button to read your device's location.</ion-label>
			</ion-item>				
			<ion-item>
				<ion-button ion-button [disabled]="!isSetCurrentLocationBtnAvailable()" (click)="onSetCurrentLocationAsOfficialLocation($event)">Set Your Location</ion-button>
			</ion-item>
		</ion-row>

		<ion-row>
			<ion-col>
				<span class="centered">
					<ion-button (click)="onCancelBtnTap()">Cancel</ion-button>
					<ion-button [disabled]="!isSaveBtnEnabled()" (click)="onSaveBtnTap()">Save</ion-button>
				</span>
			</ion-col>
		</ion-row>

</ion-content>
