<ion-header>
	<ion-toolbar>
		<ion-title>
			Cancel a Request
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<ion-label>You are about to CANCEL a request that you made.</ion-label>
	<br/><br/>
	<div *ngIf="isRequestAccepted()"> 
		<br/>
		{{model.directionallyOppositeUser.realname}} has already accepted your request.
		They may have committed time and resources to doing this for you.<br/><br/>
		If you cancel, they will get all the points you both agreed upon!<br/>
	</div>
	<br/>
	<ion-label><b>{{model.offer.title}}</b></ion-label><br/><br/>

	<ion-row *ngIf="isRequestAccepted() && !isSaveBtnEnabled()" class="completedBtnRow">
		<ion-label>If you're sure that this request should be cancelled, tap the Done! button seven times.</ion-label><br/>
		<ion-button (click)="onDoneBtnTap($event)">Done!</ion-button>
	</ion-row>
	<ion-row *ngIf="isRequestAccepted() && isSaveBtnEnabled()">
		<ion-label>You tapped the button seven times. Click YES! to save this cancelled request.</ion-label><br/>
		<ion-button [disabled]="true">Done!</ion-button>
	</ion-row>
	<br/>
	<ion-row>
		<ion-button (click)="onCancelBtnTap($event)">NO, don't do it!</ion-button>
		<ion-button [disabled]="!isSaveBtnEnabled()" (click)="onSaveBtnTap($event)">YES, cancel it!</ion-button>
	</ion-row>

</ion-content>