<ion-header>
	<ion-toolbar>
		<ion-title>
			Cancel a Request
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-label>You are about to CANCEL a request that you made.</ion-label>
	<br/><br/>
	<div *ngIf="isRequestAccepted()"> 
		<br/>
		{{model.directionallyOppositeUser.realname}} has already accepted your request.
		They may have committed time and resources to doing this for you.<br/><br/>
		If you cancel, they will get all the points you both agreed upon!<br/>
	</div>
	<br/>
	<ion-label><b>{{model.offer.title}}</b></ion-label><br/><br/>

	<ion-row *ngIf="isRequestAccepted()"> 
		<ion-label>Type the word cancel, and then press the YES! button if you're sure.</ion-label>
		<ion-input type="text" placeholder="type cancel here..." [(ngModel)]="confirmationString" #ctrl="ngModel" required></ion-input>		
	</ion-row>

	<ion-row>
		<ion-button (click)="onCancelBtnTap($event)">NO, don't do it!</ion-button>
		<ion-button [disabled]="!isSaveBtnEnabled()" (click)="onSaveBtnTap($event)">YES, cancel it!</ion-button>
	</ion-row>

</ion-content>