<ion-header>
	<ion-toolbar>
		<ion-title>
				Dismiss an Unresolved Request
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<ion-label>Only click YES! if you have spoken with the user, and you cannot work this out.</ion-label>
	<ion-label>Clicking YES! will permanently dismiss this request from your screen.</ion-label>

	<ion-label>Do note, that half the agreed upon points will go to the other user.</ion-label>

	<ion-row>
		<ion-button (click)="onCancelBtnTap($event)">Sorry, no.. Cancel</ion-button>
		<ion-button (click)="onSaveBtnTap($event)">YES!</ion-button>
	</ion-row>

</ion-content>