@import '../../../app.scss';


// TODO: Create a parent CSS file for this and the incoming SCSS page


ion-card-header {
   white-space: normal !important;
   max-width: none !important;
   width: 100%;
}

.douName {
  font-size: .65em;
  font-style: italic;
}

.douMessage {
  font-size: .9em;
}

.waitingOnDirectionallyOppositeUser {
  background-color: lightgray;
}

.requestsHeaderRow {
  padding-bottom: 1em;
}

#goForthMsg {
  font-size: 1.15em; 
}

.offerTitle {
  font-size: 1.25em;
  font-weight: bold;
  padding-top: .4em;
}

$categories: (
 // ionic: color($colors, primary),
 pending: yellow,
 accepted: green,
 declined: red,
 completedAwaitingApproval: yellow,
 notCompleteAwaitingResolution: red,
 cancelled: red
);

  @each $track, $value in $categories {
   ion-item-sliding.#{$track} {
     border-left: 6px solid #{$value};
     // padding-left: 10px;
   }
  };

$categories2: (
 // ionic: color($colors, primary),
 pending: lightgrey,
 accepted: white,
 declined: white,
 completedAwaitingApproval: lightgrey,
 notCompleteAwaitingResolution: white,
 cancelled: white
);

  @each $track, $foo in $categories2 {
   ion-item-sliding.#{$track} {
      --ion-background-color: #{$foo};
   }
  };
