<ion-header>
	<easyah-header></easyah-header>
	<br/>
	<ion-row >
			<div class="centered requestsHeaderRow">
				<h1 class="centered">You asked people for...<br/></h1>
			</div>
	</ion-row>
</ion-header>

<ion-content padding>

	<ion-item *ngIf="isRequestModelEmpty()" lines="none">
		<table>
			<tr>
				<img class="centered" src="assets/img/no-outgoing-requests.jpg">
			</tr>
			<tr>
				<span id="goForthMsg" class="centered"><br/>Go forth and be useful! Earn some points!<br/> Then, ask someone for something!</span>
			</tr>
		</table>
	</ion-item>

	<ion-list *ngIf="getCompletedAwaitingApprovalRequests()">
		<ion-item-divider sticky>
			<ion-label text-wrap>
				Others did these requests for you. Swipe right to Approve!
			</ion-label>
		</ion-item-divider>
		<ion-item-group *ngFor="let request of getCompletedAwaitingApprovalRequests()">
			<ion-item-sliding  [class]="getTrack(request)" (press)="onViewOffer(request)">
				<ion-item>
					<div class="avatar-in-a-list-wrapper-div">
						<img class="avatar-in-a-list" [src]="getThumbnailImage(request.offer)"/>
					</div>

					<div>
						<table>
							<tr>
								<div class="offerTitle">
									<span><b>{{request.offer.title}}</b></span><br/>
								</div>
							</tr>
							<tr>
								<span class="offerQuantity">{{request.offer.quantity}} {{request.offer.quantityDescription}}</span><br/>
							</tr>
							<tr>
								<span *ngIf="hasRequestMessage(request)" class="douMsg">{{getRequestMessage(request)}}<br/></span>
							</tr>
							<tr>
								<span *ngIf="!hasRequestMessage(request)" class="douMsg">--<br/></span>
							</tr>
							<tr>
								<span class="douName">{{request.directionallyOppositeUser.realname}}</span><br/>
							</tr>
						</table>
					</div>
				</ion-item>

				<ion-item-options side="start">
					<ion-item-option color="success" (click)="onCompleteOutgoingBtnTap(request)">Approve</ion-item-option>
					<ion-item-option (click)="onViewContactInfoBtnTap(request)">View Their Profile</ion-item-option>
				</ion-item-options>
				<ion-item-options side="end">
					<ion-item-option color="danger" (click)="onNotCompleteBtnTap(request)">Disapprove</ion-item-option>
				</ion-item-options>

			</ion-item-sliding>
		</ion-item-group >
	</ion-list>
	<ion-list *ngIf="getPendingRequests()">
		<ion-item-divider sticky>
			<ion-label text-wrap>
				You made these requests. Awaiting a decision by others..
			</ion-label>
		</ion-item-divider>
		<ion-item-group *ngFor="let request of getPendingRequests()">
			<ion-item-sliding  [class]="getTrack(request)" (press)="onViewOffer(request)">
				<ion-item>
					<div class="avatar-in-a-list-wrapper-div">
						<img class="avatar-in-a-list" [src]="getThumbnailImage(request.offer)"/>
					</div>

					<div>
						<table>
							<tr>
								<div class="offerTitle">
									<span><b>{{request.offer.title}}</b></span><br/>
								</div>
							</tr>
							<tr>
								<span class="offerQuantity">{{request.offer.quantity}} {{request.offer.quantityDescription}}</span><br/>
							</tr>
							<tr>
								<span *ngIf="hasRequestMessage(request)" class="douMsg">{{getRequestMessage(request)}}<br/></span>
							</tr>
							<tr>
								<span *ngIf="!hasRequestMessage(request)" class="douMsg">--<br/></span>
							</tr>
							<!-- <tr>
								<span class="douName">{{request.directionallyOppositeUser.realname}}</span><br/>
							</tr> -->
						</table>
					</div>
				</ion-item>

				<!-- <ion-item-options side="start">
					<ion-item-option (click)="onViewContactInfoBtnTap(request)">View Their Profile</ion-item-option>
				</ion-item-options> -->
				<ion-item-options side="end">
					<ion-item-option color="danger" (click)="onCancelBtnTap(request)">Cancel</ion-item-option>
				</ion-item-options>
	  		</ion-item-sliding>
		</ion-item-group>
	</ion-list>
	<ion-list *ngIf="getAcceptedRequests()">
		<ion-item-divider sticky>
			<ion-label text-wrap>
				They Accepted! These requests are in-progress.
			</ion-label>
		</ion-item-divider>
		<ion-item-group *ngFor="let request of getAcceptedRequests()">
			<ion-item-sliding  [class]="getTrack(request)" (press)="onViewOffer(request)">
				<ion-item>
					<div class="avatar-in-a-list-wrapper-div">
						<img class="avatar-in-a-list" [src]="getThumbnailImage(request.offer)"/>
					</div>

					<div>
						<table>
							<tr>
								<div class="offerTitle">
									<span><b>{{request.offer.title}}</b></span><br/>
								</div>
							</tr>
							<tr>
								<span class="offerQuantity">{{request.offer.quantity}} {{request.offer.quantityDescription}}</span><br/>
							</tr>
							<tr>
								<span *ngIf="hasRequestMessage(request)" class="douMsg">{{getRequestMessage(request)}}<br/></span>
							</tr>
							<tr>
								<span *ngIf="!hasRequestMessage(request)" class="douMsg">--<br/></span>
							</tr>
							<tr>
								<span class="douName">{{request.directionallyOppositeUser.realname}}</span><br/>
							</tr>
						</table>
					</div>
				</ion-item>
				<ion-item-options side="start">
					<ion-item-option (click)="onViewContactInfoBtnTap(request)">View Their Profile</ion-item-option>
				</ion-item-options>
				<ion-item-options side="end">
					<ion-item-option color="danger" (click)="onCancelBtnTap(request)">Cancel</ion-item-option>
				</ion-item-options>
	  		</ion-item-sliding>
		</ion-item-group>
	</ion-list>
	<ion-list *ngIf="getDeclinedRequests()">
		<ion-item-divider sticky>
			<ion-label text-wrap>
				You made these requests; they're declined :(
			</ion-label>
		</ion-item-divider>
		<ion-item-group *ngFor="let request of getDeclinedRequests()">
			<ion-item-sliding  [class]="getTrack(request)" (press)="onViewOffer(request)">
				<ion-item>
					<div class="avatar-in-a-list-wrapper-div">
						<img class="avatar-in-a-list" [src]="getThumbnailImage(request.offer)"/>
					</div>

					<div>
						<table>
							<tr>
								<div class="offerTitle">
									<span><b>{{request.offer.title}}</b></span><br/>
								</div>
							</tr>
							<tr>
								<span class="offerQuantity">{{request.offer.quantity}} {{request.offer.quantityDescription}}</span><br/>
							</tr>
							<tr>
								<span *ngIf="hasRequestMessage(request)" class="douMsg">{{getRequestMessage(request)}}<br/></span>
							</tr>
							<tr>
								<span *ngIf="!hasRequestMessage(request)" class="douMsg">--<br/></span>
							</tr>
							<!-- <tr>
								<span class="douName">{{request.directionallyOppositeUser.realname}}</span><br/>
							</tr> -->
							<tr>
								<span class="foo">Decline Reason: {{request.declinedReasonCode.text}}</span><br/>
							</tr>
						</table>
					</div>
				</ion-item>
				<ion-item-options side="start">
					<ion-item-option color="success" (click)="onAcknowledgeDeclinedRequestBtnTap(request)">OK.. Got It.</ion-item-option>
				</ion-item-options>
			</ion-item-sliding>
		</ion-item-group >
	</ion-list>
	<ion-list *ngIf="getCancelledRequests()">
		<ion-item-divider sticky>
			<ion-label text-wrap>
				These requests were accepted, but the other side cancelled :(
			</ion-label>
		</ion-item-divider>
		<ion-item-group *ngFor="let request of getCancelledRequests()">
			<ion-item-sliding  [class]="getTrack(request)" (press)="onViewOffer(request)">
				<ion-item>
					<div class="avatar-in-a-list-wrapper-div">
						<img class="avatar-in-a-list" [src]="getThumbnailImage(request.offer)"/>
					</div>

					<div>
						<table>
							<tr>
								<div class="offerTitle">
									<span><b>{{request.offer.title}}</b></span><br/>
								</div>
							</tr>
							<tr>
								<span class="offerQuantity">{{request.offer.quantity}} {{request.offer.quantityDescription}}</span><br/>
							</tr>
							<tr>
								<span *ngIf="hasRequestMessage(request)" class="douMsg">{{getRequestMessage(request)}}<br/></span>
							</tr>
							<tr>
								<span *ngIf="!hasRequestMessage(request)" class="douMsg">--<br/></span>
							</tr>
							<tr>
								<span class="douName">{{request.directionallyOppositeUser.realname}}</span><br/>
							</tr>
						</table>
					</div>
				</ion-item>
				<ion-item-options side="start">
					<ion-item-option color="success" (click)="onAcknowledgeCancelledRequestBtnTap(request)">OK.. Got It.</ion-item-option>
				</ion-item-options>
			</ion-item-sliding>
		</ion-item-group >
	</ion-list>
	<ion-list *ngIf="getNotCompleteAwaitingResolution()">
		<ion-item-divider sticky>
			<ion-label text-wrap>
				You marked these Not Complete. Awaiting the other side's decision..
			</ion-label>
		</ion-item-divider>
		<ion-item-group *ngFor="let request of getNotCompleteAwaitingResolution()">
			<ion-item-sliding  [class]="getTrack(request)" (press)="onViewOffer(request)">
				<ion-item>
					<div class="avatar-in-a-list-wrapper-div">
						<img class="avatar-in-a-list" [src]="getThumbnailImage(request.offer)"/>
					</div>

					<div>
						<table>
							<tr>
								<div class="offerTitle">
									<span><b>{{request.offer.title}}</b></span><br/>
								</div>
							</tr>
							<tr>
								<span class="offerQuantity">{{request.offer.quantity}} {{request.offer.quantityDescription}}</span><br/>
							</tr>
							<tr>
								<!-- <span class="douMsg">This is where the message from the other user will go. Right in this line. It 
								may be a long message. Like this one.</span><br/> -->
								<span class="douName">{{request.directionallyOppositeUser.realname}}</span><br/>
							</tr>
						</table>
					</div>
				</ion-item>
				<ion-item-options side="start">
					<ion-item-option (click)="onViewContactInfoBtnTap(request)">View Their Profile</ion-item-option>
					<ion-item-option color="danger" (click)="onPermanentlyDismissBtnTap(request)">Permanently Dismiss</ion-item-option>
				</ion-item-options>
				<ion-item-options side="end">
					<ion-item-option color="success" (click)="onCompleteOutgoingBtnTap(request)">Mark as Complete</ion-item-option>
				</ion-item-options>

			</ion-item-sliding>
		</ion-item-group >
	</ion-list>

</ion-content>

<ion-footer *ngIf="!isRequestModelEmpty()">
	<ion-row>
		<span class="centered">Swipe Left or Right, Tap, or Hold!</span>
	</ion-row>
</ion-footer>