<ion-header>
	<ion-toolbar>
		<ion-title>
			Complete a Request
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
		<div *ngIf="!isRequestInDispute()">
			<ion-label>You are about to indicate that the request you sent has been satisfactorily fulfilled.</ion-label>
		</div>
		<br/>
		<div *ngIf="isRequestInDispute()">
			<ion-label>This resolution of this request had been in dispute. You are about to indicate that it has been resolved, and that you are sufficiently satisfied with how it turned out.</ion-label>
			<ion-label>If that is not the case, click Cancel below.</ion-label>
		</div>

		<br/>
		<ion-label><b>{{model.offer.title}}</b></ion-label>
		<hr/>

	<ion-row>
		<ion-label>Do you want to indicate you are satisfied?</ion-label>
	</ion-row>

	<ion-row>
		<ion-button (click)="onCancelBtnTap($event)">Cancel</ion-button>
		<ion-button (click)="onSaveBtnTap($event)">YES, I'm Satisfied!</ion-button>
	</ion-row>

</ion-content>