
.profile_header__text {
	margin: 0 auto;
	font-size: 2em;
}

.profile_header__desc1 {
	font-size: 1.25em;
}

.profileHeaderAvatar {
	height: 5em;
	width: 5em;
}

.profile_header__desc1_div {
	margin-left: 1em;
	margin-right: 1em;
}

.backgroundSizeCover {
  background-size: cover;
}