.circular {
	border-radius: 50%;	
}

.centerBackgroundPosition {
	background-position: center;
}

.profile_header__text {
	margin: 0 auto;
	font-size: 2em;
}

.profile_header__desc1 {
	font-size: 1.5em;
}

.profileHeaderAvatar {
	height: 5em;
	width: 5em;
}