<ion-header>
	<ion-toolbar>
		<ion-title>
			Accept a Request
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<ion-label>You are about to commit to fulfill an offer you made!</ion-label><br/><br/>
	<ion-label><b>{{getOfferTitle()}}</b></ion-label><br/><br/>
	<hr/>
		<div *ngIf="willBeFirstConnectionBetweenTheseTwo()" class="greybackbox">
			This will be the first time you have connected with {{getRequestorName()}}.<br/><br/>
			
			<!-- TODO: can we link to the second, more relevant part? -->
			<br/>For reference, <a href="https://www.wikihow.com/Safely-Meet-a-Person-You-Met-Online#Meeting-in-Public">Safely Meeting Online People</a>
			<br/>
			<span >
				Some ways Easyah has your back:<br/>
				<ul>
					<li>Your offers can require Recommendations</li>
					<li>Easyah requires real phone numbers</li>
					<li>People requesting your offer, will only get your name and info, when you accept a request.</li>
					<li>You see the requesting partys info from the beginning.</li>
				</ul>
				<br/>
			</span>
		</div>
		<div *ngIf="!willBeFirstConnectionBetweenTheseTwo()" class="greybackbox">
			<span *ngIf="getNumberOfPreviousInteractions() > 0">
				You have {{getNumberOfPreviousInteractionsString()}} with {{getRequestorName()}}.
			</span>
		</div>
	<hr/>
	<br/>
	<ion-label>Are you super 100% sure you are able to do it?</ion-label><br/><br/>

	<br/><br/>
	<ion-row>
		<ion-button (click)="onCancelBtnTap($event)">Sorry, no.. Cancel</ion-button>
		<ion-button (click)="onSaveBtnTap($event)">YES!</ion-button>
	</ion-row>
</ion-content>