<ion-header>
	<easyah-header-component></easyah-header-component>
</ion-header>

<ion-content >

		<ion-list>
				<ion-item-divider>
					<ion-label>
						Offer Results
					</ion-label>
				</ion-item-divider>

			<other-peoples-offer-list [offers]="getOfferResults()">
			</other-peoples-offer-list>
	
		</ion-list>

		<ion-list>
			<ion-item-divider>
				<ion-label>
					User Results
				</ion-label>
			</ion-item-divider>

			<ion-item-group *ngIf="isUsersResultsEmpty()">
				<ion-item-sliding>
					<ion-item-options side="start">

					</ion-item-options>
					<button>
						<span >There are no matching users :/</span><br/>
					</button>
				</ion-item-sliding>
			</ion-item-group>

			<ion-item-group *ngFor="let user of getUsersResults()">

				<ion-item (click)="onViewUser(user)">
					<div class="searchAvatar-wrapper">
						<img id="getUniqueId(user)" class="searchAvatar" [src]="getProfileImageFilepath(user)"/>
					</div>
					<div class="usernameMetadataDiv">
						<span>{{user.realname}}</span>
					</div>
				</ion-item>

			</ion-item-group>
		</ion-list>

</ion-content>