<ion-header>
	<easyah-header></easyah-header>
</ion-header>

<ion-content >

		<ion-list>
				<ion-item-divider>
					<ion-label>
						Offer Results
					</ion-label>
				</ion-item-divider>

			<other-peoples-offer-list [offers]="getOfferResults()">
			</other-peoples-offer-list>
	
		</ion-list>

		<ion-list>
			<ion-item-divider>
				<ion-label>
					User Results
				</ion-label>
			</ion-item-divider>

			<ion-item-group *ngIf="isUsersResultsEmpty()">
				<ion-item-sliding>
					<ion-item-options side="start">

					</ion-item-options>
					<button>
						<span >There are no matching users :/</span><br/>
					</button>
				</ion-item-sliding>
			</ion-item-group>

			<ion-item-group *ngFor="let user of getUsersResults()">

				<ion-item-sliding (click)="onViewUser(user)">
					<ion-item>
						<ion-avatar slot="start" *ngIf="isProfileImageAvailable(user)">
							<img [src]="getProfileImageFilepath(user)">
						</ion-avatar>
						<ion-avatar *ngIf="!isProfileImageAvailable(user)">
							<img src="assets/img/mushroom.jpg">
						</ion-avatar>

						<div class="usernameMetadataDiv">
							<span class="userRealname">{{user.realname}}</span>
						</div>
					</ion-item>

				</ion-item-sliding>
			</ion-item-group>
		</ion-list>

</ion-content>