.icon-requestable {
	color: green;
}

.icon-not-requestable {
	color: red;
}

.usernameMetadataDiv {
	padding-left: 1.2em;
}

.circular {
	border-radius: 50%;	
}

.centerBackgroundPosition {
	background-position: center;
}

.avatar {
	height: 3em;
	width: 3em;
}
