<ion-header>
	<easyah-header></easyah-header>
	<br/>
	<ion-row >
		<div class="centered page-header-row">
			<h1 class="centered">Keywords To Describe You...<br/></h1>
		</div>
	</ion-row>
</ion-header>

<ion-content class="ion-padding">
	<ion-row>
		<ion-card>
			<ion-card-header>
				Keywords (press and hold to delete)
			</ion-card-header>
			<ion-card-content>
				<span *ngIf="userHasNoKeywords()">
					There are no keywords defined yet.
				</span>
				<span class="blockItem" *ngFor="let item of getKeywordArray()" (press)="onIndividualKeywordPress(item)">
					{{item.text}}
				</span>
			</ion-card-content>
		</ion-card>
	</ion-row>	

	<ion-row>
		<ion-card>
			<ion-card-content>
				<ion-label>Enter new keywords. Separate multiple keywords,with,commas (for example).</ion-label>

				<ion-row>
					<ion-input type="text" placeholder="..type..words..press..add" (ionChange)="onAddKeywordFieldChange($event)" [value]="getAddKeywordFieldValue()" (keyup.enter)="onAddBtnTap()" required></ion-input>
					<ion-button [disabled]="!isAddBtnEnabled()" (click)="onAddBtnTap()">Add</ion-button>
				</ion-row>
			</ion-card-content>
		</ion-card>
	</ion-row>

</ion-content>

<ion-footer>
	<ion-row>
		<span class="centered">When people search for these keywords, your profile will show up. They help people find you.</span>
	</ion-row>
</ion-footer>