#pageHeaderText {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.blockItem {
	display: inline-block;
	border-style: solid;
	padding: 0.5em;
	margin-left: .25em;
	margin-right: .25em;
	margin-bottom: .5em;
}

.keywordsHeaderRow {
	padding-bottom: 1em;
}

.centered {
	display: block;
	margin: 0 auto;
	text-align: center;
}
