@import '../app.scss';

h2 {
	margin: auto;
	border-bottom-style: solid;
	padding-top: .45em;
}

#header-logo-image {
	height: 1.75em;
}

#login-logo-img {
	display: block;
	margin: 0 auto;
}

.homeAvatar-wrapper {
	@extend .avatar-in-a-list-wrapper-div;
}

.homeAvatar {
	@extend .avatar-in-a-list;
	width: 7em;
	height: 5.5em;
}

.ptsTdElement {
	padding: 0 1em 0 1em;
}

.displayBlock {
	display: block;
	font-size: 2.1em;
	font-weight: bold;
}

