@import '../app.scss';

h2 {
	margin: auto;
	border-bottom-style: solid;
	padding-top: .45em;
}

#logo-with-words-img {
	width: 80%;
	height: 50%;
}

.ptsTdElement {
	padding: 0 1em 0 1em;
}

.displayBlock {
	display: block;
	font-size: 2.1em;
	font-weight: bold;
}

#forImgOverlapDiv {
	height: 160px;
}

ion-card img {
	width: 100%;
}

.home-profile-info-content-div {
    width: 88%;
    height: 100%;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    padding-left: 7px;
    text-align: left;
}

.homeUserName {
	font-size: 27px;
}