<ion-header>
	<easyah-header></easyah-header>
</ion-header>

<br/>
<ion-content>
	<ion-grid>
		<ion-row>
			<ion-card>
				<ion-card-content>
					<div id="forImgOverlapDiv">
						<img [src]="getThumbnailImage()" (click)="onThumbnailImageClick($evt)" />
					</div>
					<div class="home-profile-info-content-div">
						<table>
							<tr>
								<div class="homeUserName">
									<h2>{{getUserName()}}</h2>
								</div>
							</tr>
							<tr>
								<div class="homeUserDescription">
									<h4>{{getUserDescription()}}</h4>
								</div>
							</tr>
						</table>
					</div>
				</ion-card-content>
			</ion-card>
		</ion-row>
		<ion-row>
			<ion-card [ngStyle]="{'width':'100%'}">
				<ion-card-header>
					<div class="pointsSectionDescription">
						<h4>Your Points</h4>
					</div>
				</ion-card-header>
				<ion-card-content>
					<table>
						<tr>
							<td class="ptsTdElement">
								<span class="displayBlock">{{getTotalPoints()}}</span> Total
							</td>
							<td class="ptsTdElement">
								<span class="displayBlock">{{getAvailablePoints()}}</span> Available
							</td>
							<td class="ptsTdElement">
								<span class="displayBlock">{{getAllTimePointsCount()}}</span> All Time
							</td>
						</tr>
					</table>
				</ion-card-content>
			</ion-card>

			<!-- ion-col>
				<img id="login-logo-img" src="assets/img/logo.jpg">
				<span class="centered">
					Click the menu icon in the upper left!<br/>
					Or Search in the upper right!
				</span>
			</ion-col -->
		</ion-row>
		<ion-row>
			<ion-card>
				<ion-card-header>
					<div class="pointsSectionDescription">
						<h4>Offers Recently Created By Others</h4>
					</div>
				</ion-card-header>
				<ion-card-content>
					<other-peoples-offer-list [offers]="getMostRecentlyCreatedOffers()">
					</other-peoples-offer-list>
				</ion-card-content>
			</ion-card>
		</ion-row>
	</ion-grid>

</ion-content>
