<ion-header>
	<easyah-header-component></easyah-header-component>
</ion-header>

<br/>
<ion-content>
	<ion-grid>
		<ion-row>
			<img id="logo-with-words-img" class="centered" src="assets/img/logo-full.jpg">
		</ion-row>
		<ion-row>
			<ion-card id="homeProfileImgCard" class="centered">
				<ion-card-content>
					<div id="forImgOverlapDiv">
						<img [src]="getAssociatedImage()" [class]="getAssociatedImageCSS()" (click)="onAssociatedImageClick()" />
					</div>
					<div class="home-profile-info-content-div">
						<table>
							<tr>
								<div class="homeUserName">
									<h2>{{getUserName()}}</h2>
								</div>
							</tr>
							<tr>
								<div class="homeUserDescription">
									<h4>{{getUserDescription()}}</h4>
								</div>
							</tr>
						</table>
					</div>
				</ion-card-content>
			</ion-card>
		</ion-row>
		<ion-row>
			<ion-card>
				<ion-card-header>
					<div class="pointsSectionDescription">
						<h4>Folks around you</h4>
					</div>
				</ion-card-header>
				<ion-card-content>
					{{getFolksAroundYouText()}}
				</ion-card-content>
			</ion-card>
		</ion-row>
		<ion-row>
			<ion-card [ngStyle]="{'width':'100%'}">
				<ion-card-header>
					<div class="pointsSectionDescription">
						<h4>Your Points</h4>
					</div>
				</ion-card-header>
				<ion-card-content>
					<table>
						<tr>
							<td class="ptsTdElement">
								<span class="displayBlock">{{getTotalPoints()}}</span> Total
							</td>
							<td class="ptsTdElement">
								<span class="displayBlock">{{getAvailablePoints()}}</span> Available
							</td>
							<td class="ptsTdElement">
								<span class="displayBlock">{{getAllTimePointsCount()}}</span> All Time
							</td>
						</tr>
					</table>
				</ion-card-content>
			</ion-card>

		</ion-row>
		<ion-row>
			<ion-card [ngStyle]="{'width':'100%'}">
				<ion-card-header>
					<div class="pointsSectionDescription">
						<h4>Offers Recently Created By People Near You</h4>
					</div>
				</ion-card-header>
				<ion-card-content>
					<ion-button [routerDirection]="'root'" [routerLink]="['/offers/all']" [ngStyle]="{'width':'100%'}">
						See All Nearby Offers
					</ion-button>
				</ion-card-content>
				<ion-card-content>
					<other-peoples-offer-list [offers]="getMostRecentlyCreatedOffers()">
					</other-peoples-offer-list>
				</ion-card-content>
			</ion-card>
		</ion-row>

		<ion-row>
			<ion-card [ngStyle]="{'width':'100%'}">
				<ion-card-content>
					<ion-button [routerDirection]="'root'" [routerLink]="['/offers/new']" [ngStyle]="{'width':'100%'}">
						Create Your Own Offer
					</ion-button>
				</ion-card-content>
			</ion-card>
		</ion-row>
	</ion-grid>

</ion-content>
